@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
}

@layer utilities {

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .about-image {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    height: 60vh;
    width: 90vw;
    max-width: 380px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 1.5rem;
  }

  @media (min-width: 768px) {
    .about-image {
      width: 30vw;
      max-width: none;
    }
  }
}
