@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
  
  --font-family-anton: var(--font-anton);
  --font-family-inter: var(--font-inter);
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .about-image {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    height: 60vh;
    width: 90vw;
    max-width: 380px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 1.5rem;
  }

  .about-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96
      -translate-x-1/2 text-center text-lg md:max-w-[34rem];
    font-family: var(--font-circular-web);
  }

  @media (min-width: 768px) {
    .about-image {
      width: 30vw;
      max-width: none;
    }
  }
}
