@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

@theme {
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
  
  --font-family-anton: var(--font-anton);
  --font-family-inter: var(--font-inter);
}
.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .nav-hover-btn {
  @apply relative ms-10 uppercase text-white cursor-pointer
    after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full
    after:origin-bottom-right after:scale-x-0 after:bg-white font-semibold
    after:transition-transform after:duration-300
    hover:after:origin-bottom-left hover:after:scale-x-100;
}

.floating-nav {
  @apply backdrop-blur-md bg-black/80 border border-white/10;
}

.hamburger {
  @apply h-[2px] w-6 bg-white transition-all duration-300;
}

.hamburger.open:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open:nth-child(2) {
  opacity: 0;
}

.hamburger.open:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}


  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .about-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center font-semibold text-lg md:max-w-[34rem];
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[6rem];
  }

  @media (min-width: 768px) {
    .about-image {
      width: 30%;
      max-width: none;
    }
  }
}